<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie API Portal</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>🎬 Movie Revenue Web Application</h1>
            <nav>
                <a href="/" class="nav-link">Home</a>
                <a href="/dashboard/" class="nav-link">Dashboard</a>
                <a href="/notebook/" class="nav-link">Notebook</a>
            </nav>
        </header>

        <main>
            <section class="api-info">
                <h2>Available Endpoints</h2>
                <div class="endpoint-card">
                    <h3>GET movies_basic/</h3>
                    <p>Retrieve basic movie information</p>
                </div>
                <div class="endpoint-card">
                    <h3>GET movies_search/{title}</h3>
                    <p>Search movies by title</p>
                </div>
                <div class="endpoint-card">
                    <h3>GET movies_actors/</h3>
                    <p>Retrieve actors list with each movie</p>
                </div>
                <div class="endpoint-card">
                    <h3>GET movies_writers/</h3>
                    <p>Retrieve writers list with each movie</p>
                </div>
                <div class="endpoint-card">
                    <h3>GET movies_directors/</h3>
                    <p>Retrieve directors list with each movie</p>
                </div>
            </section>

            <section class="upload-section">
                <h2>Upload Movie Data in .csv</h2>
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" id="fileInput" name="file" accept=".csv" required>
                    <button type="submit" class="upload-btn">Upload</button>
                </form>
                <div id="uploadMessage"></div>
            </section>

            <section class="prediction">
            <h2>Select Prediction Algorithm</h2>
            <p>This will trigger the prediction algorithm to run on all “Not Released” records.</p>

            <form id="predictForm" class="predict-form">
                <label for="modelSelect">Algorithm</label>
                <select id="modelSelect" required>
                <option value="">--Select--</option>
                <option value="MLR">Multiple Linear Regression</option>
                <option value="EN">Elastic Net</option>
                <option value="RF">Random Forest</option>
                <option value="GAM">GAM</option>
                <option value="XG">XGBoost</option>
                </select>

                <button type="submit" class="pred-btn">Predict</button>
                <div id="pred_message" class="action-msg"></div>
            </form>
            </section>

            <section class="quick-search">
                <h2>Parameter Search</h2>
                <form id="searchForm" action="/search" method="GET">
                    <input type="text" placeholder="Enter full or partial title..." class="search-input" name="title">
                    <input type="text" placeholder="Enter date in YYYY-MM-DD format..." class="search-input" name="release_date">
                    <input type="text" placeholder="Enter full or partial genre..." class="search-input" name="genres">
                    <input type="text" placeholder="Enter full or partial production company..." class="search-input" name="production_companies">

                    <table class="search-table">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Comparison</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="averageRating">Rating</label></td>
                                <td>
                                    <select name="rating_condition">
                                        <option value="">--Select--</option>
                                        <option value="GE">≥</option>
                                        <option value="LE">≤</option>
                                        <option value="E">=</option>
                                        <option value="G">></option>
                                        <option value="L"><</option>
                                    </select>
                                </td>
                                <td><input type="number" step="0.1" name="averageRating" id="averageRating"></td>
                            </tr>
                            <tr>
                                <td><label for="numVotes">Votes</label></td>
                                <td>
                                    <select name="votes_condition">
                                        <option value="">--Select--</option>
                                        <option value="GE">≥</option>
                                        <option value="LE">≤</option>
                                        <option value="E">=</option>
                                        <option value="G">></option>
                                        <option value="L"><</option>
                                    </select>
                                </td>
                                <td><input type="number" step="1" name="numVotes" id="numVotes"></td>
                            </tr>
                            <tr>
                                <td><label for="budget">Budget</label></td>
                                <td>
                                    <select name="budget_condition">
                                        <option value="">--Select--</option>
                                        <option value="GE">≥</option>
                                        <option value="LE">≤</option>
                                        <option value="E">=</option>
                                        <option value="G">></option>
                                        <option value="L"><</option>
                                    </select>
                                </td>
                                <td><input type="number" step="100000" name="budget" id="budget"></td>
                            </tr>
                            <tr>
                                <td><label for="revenue">Revenue</label></td>
                                <td>
                                    <select name="revenue_condition">
                                        <option value="">--Select--</option>
                                        <option value="GE">≥</option>
                                        <option value="LE">≤</option>
                                        <option value="E">=</option>
                                        <option value="G">></option>
                                        <option value="L"><</option>
                                    </select>
                                </td>
                                <td><input type="number" step="100000" name="revenue" id="revenue"></td>
                            </tr>
                            <tr>
                                <td><label for="runtime">Runtime</label></td>
                                <td>
                                    <select name="runtime_condition">
                                        <option value="">--Select--</option>
                                        <option value="GE">≥</option>
                                        <option value="LE">≤</option>
                                        <option value="E">=</option>
                                        <option value="G">></option>
                                        <option value="L"><</option>
                                    </select>
                                </td>
                                <td><input type="number" step="1" name="runtime" id="runtime"></td>
                            </tr>
                            <tr>
                                <td><label for="status">Status</label></td>
                                <td>
                                    <select name="status">
                                        <option value="">--Select--</option>
                                        <option value="Released">Released</option>
                                        <option value="Not Released">Not Released</option>
                                    </select>
                                </td>
                                <td></td>  <!-- Empty cell for table alignment -->
                            </tr>
                            <tr>
                                <td><label for="titleType">Title Type</label></td>
                                <td>
                                    <select name="titleType">
                                        <option value="">--Select--</option>
                                        <option value="movie">Movie</option>
                                        <option value="tvMovie">TV Movie</option>
                                    </select>
                                </td>
                                <td></td>  <!-- Empty cell for table alignment -->
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="search-btn">Search</button>
                </form>
                <div id="results" class="results-container"></div>
            </section>
        </main>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
